page-auth {
    #content{
        margin: 0px;
        display:flex;
        background-color: white;
        flex-wrap: wrap;
    }
    .innerDiv{
        justify-content: center; 
        align-items: center;
    }
    .innerDiv:first-child{
        background-color: lightblue;
    }
    .labelText{
        font-size: 24px;
        font-family: 'Light';
        text-align: center;
        color: black;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-wrap: wrap;
    }
    .label-ios{
        margin: 0px;
    }
    // .labelText p:last-child{
        
    // }
    .card{
        border-radius: 20px;
        border: 2px solid grey;
        display: flex;
        flex-wrap: wrap;
    }
    .card ion-card-header {
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: space-around;
        padding: 0px;
    }
    .card ion-card-content {
        flex-wrap: wrap;
        width: 100%;
    }
    .btn{
        margin: none;
        width: inherit;
        border-bottom: 2px solid grey;
    }
    .btn:first-child{
        border-right: 2px solid grey;
    }
    .btn:last-child{
        border-left: 1px solid grey;
    }
    .btnActive{
        background-color: rgb(144, 181, 194);
    }
    .btnNotActive{
        background-color: lightblue;
    }
    .loginBtn{
        padding: 20px;
        width: inherit;
        font-size: 20px;
        font-family: "Merriweather";
    }
    .signupBtn{
        padding: 20px;
        font-size: 20px;
        width: inherit;
        font-family: "Merriweather";
    }
    #sideNote{
        font-size: 16px;
    }
    #sideNote b{
        color: black; 
        font-size: 20px;
    }
}

