page-sub-cat-fund {
    ion-icon{
        color:#75AA3B
    }
    p{
        text-align: justify;
    }
    .cap:first-letter{
        text-transform: capitalize
    }
    .icon-size{
        font-size: 30px;
        vertical-align: middle;
        color: black;
    }
    .icon-image{
        height:25px;
        width:25px;
        color: black;
    }
    .card-text{
        font-weight: bold;
        transform:translateY(50%);
        font-size: large;
        color: #e18a23;
        text-align: center;
    }
    .top-pad{
        margin-top: 20px;
    }
    .button-div-main{
        background-color:#75AA3B ;
        font-size: 30px;
    }
    .center{
        text-align: center;
    }
    .button-div{
        background-color: black;
        margin-left: 10px
    }
}
