page-profile {
ion-content{
    // padding-top: 150px;
    //margin-top: 50px;
}
// .align-center{
    // text-align: center;
    // justify-content: center;
// }
.font-size{
    // font-size: 30px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bold{
    font-weight: bold;
}
ion-icon{
    color:#75AA3B
}
.light-gray{
    color: rgb(175, 175, 175);
}
.dark-gray{
    color: darkgray;
}
}
