
<ion-header>
  <ion-navbar>
    <ion-title>My Campaigns</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="card">
    <ion-card-header>
      <ion-item><span class="secondary-color">Hello,</span><span class="primary-color">{{name}}</span></ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-item class="secondary-color">Fundraiser link is: </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="primary-color">
        <a [href]="link">{{link}}</a>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header>
      <ion-item class="secondary-color">Total Fund Raised</ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="primary-color">
        {{amount}} Rs
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-item class="secondary-color">Donors</ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="donors.length!=0">
        <span class="font secondary-color left">Time</span>
        <span class="font secondary-color center" style="margin-left: 50px;">Name</span>
        <span class="font secondary-color right">Amount</span>
      </ion-item>
      <ion-item *ngIf="donors.length==0">
        <span class="font center">No donations made yet.</span>
      </ion-item>
      <ion-list style="margin-top: 0px;" class="center" *ngFor="let donor of donors">
        <ion-item *ngIf="donor!==undefined">
          <span class="font primary-color left">{{donor.donatedAtTime}}</span>
          <span class="font center" style="margin-left: 20px;">{{donor.name}}</span>
          <span class="font primary-color right">{{donor.amount}}</span>
        </ion-item>
      </ion-list>
      </ion-card-content>
  </ion-card>

</ion-content>
