page-campaign {
    ion-icon{
        color:  #75AA3B;
    }
    .primary-color{
        color:  #75AA3B;
        margin-left: 1%;
    }
    .secondary-color{
        color: #e18a23;
        font-size: 20px;
    }
    .card{
        border-radius: 1.5rem;
    }
    .right{
        float: right;
    }
    .left{
        float: left;
    }
    .center{
        text-align: center;
    }
    .font{
        font-size: large;
    }
}
