page-notification {
    ion-icon{
        color:#75AA3B
    }
    .primary-color{
        color:  #75AA3B;
        font-size: 17px;
    }
    .secondary-color{
        color: #e18a23;
        font-size: 20px;
        font-weight: bold;
    }
    .card{
        border-radius: 20px;
    }
}
