page-my-fundraisers {
    ion-icon{
        color: #75AA3B;
    }
    .image{
        transform: scale(1);
        width:300px;
        height: 300px;
    }
    .card{
        border-radius: 20px;
    }
    .primary-color{
        color:  #75AA3B;
    }
    .secondary-color{
        color: #e18a23;
        font-size: 20px;
    }
    .pad-left{
        padding-left: 30px;
    }
}
