<ion-header>
  <ion-navbar>
    <ion-title>Fundraisers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="isNew">
  <ion-card>
    <ion-card-header>
      <ion-item>Please create a fundraiser first.</ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-content padding *ngIf="!isNew">

  <ion-card>
    <ion-card-header>
      <ion-item class="secondary-color">Total Fund Raised</ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="primary-color">Amount Generated: {{total}} Rs</ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card" *ngFor="let url of urlArr" (click)="goToCampaign(url.shortUrl)">
    <ion-card-header>
      <img class="image" src="{{url.imageURL}}" style="width:max-content;height: 200px;">
    </ion-card-header>

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="pad-left" *ngIf="url.subCategory==''">
              <p class="secondary-color">Fundraiser created for {{url.ngo}}</p>
            </ion-item>
            <ion-item class="pad-left" *ngIf="url.subCategory!=''">
              <p class="secondary-color">Fundraiser created for {{url.subCategory}}</p>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-row><ion-col>Amount Generated: {{url.amountRaised}} Rs</ion-col></ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>
